<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What do I need to do?" />
    </form>
  </header>

  <section class="mail">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  Built by <%= link_to "Kimberly Vandegrift", "http://github.com/kyidkim" %>
</section>
